@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;
  font: inherit;
  color: inherit;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

footer {
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #18a0fb;
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]:focus {
  outline: none;
}

.units-selector > input[type="number"]:focus {
  border-color: #f2994a;
}

#container {
  margin: 3rem 10rem;
  display: block;
}

.checkout-heading {
  margin: 0;
  color: #4e5150;
  margin-bottom: 1.25rem;
}

.page-title {
  margin: 0;
  font-weight: 600;
  font-size: 2.25rem;
}

.checkout-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.articles-shipping {
  background-color: #f2f2f2;
  border-radius: 30px;
  padding: 1.5rem;

  width: 70%;
  height: 65%;
  margin-left: 7rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article-for-sale {
  display: flex;
  justify-content: space-between;
}

.article-for-sale:first-child {
  margin-bottom: 40px;
}

.article-photo {
  width: 40%;
  height: 40%;
  border-radius: 10px;
}

.article-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.article-description {
  display: block;
  margin-bottom: 1.5rem;
}

.article-name {
  margin: 0;
  font-weight: 600;
  font-size: 1rem;
  color: #4e5150;
  margin-bottom: 6px;
}

.article-prices {
  display: flex;
  margin-left: 0.5rem;
  margin-right: 3.25rem;
  justify-content: space-between;
}

.new-price {
  font-size: 1rem;
  color: #f2994a;
  font-weight: bold;
  margin: 0;
}

.prev-price {
  font-size: 0.75rem;
  text-decoration: line-through;
  margin: 0;
  margin-left: 6px;
  color: #4e5150;
  font-weight: 600;
}

.units-selector {
  display: flex;
  border: 1px solid #828282;
  border-radius: 12px;
  padding: 11px 16px;
}

.unit-counter {
  width: 100%;
  /* background-color: rgba(0, 0, 0, 0.2); */
  background-color: transparent;
  border: none;
  text-align: center;
}

.unit-button-selector {
  border: none;
  background-color: #e0e0e0;
  border-radius: 4px;
  transform: scale(1.2, 1);
  font-weight: 500;
  padding: 4px;
  align-items: center;
}

.material-icons.md-16 {
  font-size: 16px;
  color: #828282;
}

.purchase-summary {
  margin: 0;
  display: block;
  font-weight: 700;
}

.purchase-summary-item {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #bdbdbd;
  align-items: center;
  color: #333333;
}

.purchase-key {
  margin: 1rem;
}

.purchase-value {
  margin: 1rem;
}

.user-registration {
  display: block;
  margin-right: 3rem;
}

.form-section:first-child {
  margin-bottom: 3rem;
}

.section-heading {
  margin: 1rem 0;
  font-weight: 600;
  color: #333333;
}

.section-title {
  margin: 0;
  font-size: 1.125rem;
}

.section-fields {
  margin: 1.25rem 0;
  display: block;
}

.form-field {
  display: flex;
  flex-direction: column;
  margin: 0.8rem 0;
}

.field-name {
  margin: 0.5rem 0;
  color: #4f4f4f;
  font-size: 12px;
  font-weight: 600;
}

.field-input {
  display: flex;
  width: 100%;
  padding: 0.9rem;
  border: 1px solid #828282;
  border-radius: 10px;
}

.field-input input {
  width: 100%;
  margin-left: 10px;
  border: none;
  font-weight: 500;
}

.field-input input:focus {
  outline: none;
}

.field-input > .material-icons {
  color: #828282;
}

::placeholder {
  color: #828282;
  font-weight: 500;
  font-size: 1rem;
}

.international-fields {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

#country-list {
  width: 100%;
  border: none;
  outline: none;
  margin-left: 10px;
  font-weight: 500;
}

#country-list:invalid {
  color: #828282;
}

#country-list option {
  color: #000;
}

.form-footer {
  margin: 0;
  display: block;
}

.save-zone {
  margin: 10px 0;
  color: #4f4f4f;
}

.save-zone input[type="checkbox"] {
  transform: scale(1.62);
}

.save-zone label {
  margin-left: 6px;
  font-size: 12px;
  font-weight: 600;
}

.submit-button {
  font-weight: 600;
  color: #fff;
  background-color: #f2994a;
  border: none;
  padding: 18px 45px;
  border-radius: 12px;
  float: right;
}
